public/libs
public/libs/*
public/lib*
public/js*
public/client.js
public/script.js
public/*
src/views/components/*
src/views/layouts/*
src/views/pages/*
dist/*
dist
node_modules/*
playwright-report/*
node_modules
./src/db/db.sqlite
db.sqlite
db.sqlite-shm
db.sqlite-wal
