src/database/db.sqlite
node_modules
coverage
logs
mongo-data
coverage*/
lib/
pnpm-lock.yaml
# See https://github.com/all-contributors/cli/issues/347
.all-contributorsrc
package-lock.json
src/views/components.d.ts
src/views/auto-imports.d.ts
backup/*
backup*
./src/index.js
/dist
db.sqlite
db.sqlite-shm
db.sqlite-wal
./src/database/db.sqlite
./src/db/db.sqlite
./public/js/*
/public/js/*
/public/style.css
src/views/components/*
src/views/layouts/*
src/views/pages/*
