<div class="p-10 bg-gradient-to-r from-[#205372] to-[#3790ad] text-white">
  <div class="mx-auto max-w-5xl w-full">
    <h2 class="text-3xl font-semibold">Contact</h2>
    <p>Got something on your mind?</p>
  </div>
</div>

<div class="p-10">
  <div class="mx-auto max-w-5xl w-full">
    <p>If you have any questions or need support, feel free to reach out via email at
      <a href="mailto:mail@jaw.dev" class="hover:underline transition-colors duration-300 ease-out">mail@jaw.dev</a>
      or create an issue on
      <a href="https://github.com/wajeht/sms" class="hover:underline transition-colors duration-300 ease-out"
        target="_blank" rel="noopener noreferrer">GitHub</a>.
    </p>
  </div>
</div>
