<div class="p-10 bg-gradient-to-r from-[#205372] to-[#3790ad] text-white">
  <div class="mx-auto max-w-5xl w-full">
    <h2 class="text-3xl font-semibold">Download</h2>
    <p>Download as CSV</p>
  </div>
</div>

<div class="p-10">
  <div class="mx-auto max-w-5xl w-full">
    <form class="flex gap-2" action="/download-csv" method="post">
      <div>
        <label for="email"></label>
        <input type="email" name="email" id="email">
      </div>

      <button class="" type="submit">Download</button>
    </form>
  </div>
</div>
