<div class="p-10 bg-gradient-to-r from-[#205372] to-[#3790ad] text-white">
  <div class="mx-auto max-w-5xl w-full">
    <h2 class="text-3xl font-semibold">Phone Number Carrier Lookup</h2>
    <p>Find the carrier details for any phone number.</p>
  </div>
</div>

<div class="p-10">
  <div class="mx-auto max-w-5xl w-full">
    <form method="post" action="/phone" class="space-y-4 max-w-lg">
      <div class="relative">
        <input
          class="w-full py-2 px-3 border-[1px] border-neutral-200 rounded shadow-sm focus:ring-2 focus:ring-[#3790ad] focus:border-[#3790ad] outline-none transition-all duration-200"
          type="search"
          name="number"
          id="number"
          placeholder="Enter phone number..."
        >
      </div>
      <button
        class="bg-[#121d28] text-[#cccccc] hover:text-white py-2 px-6 font-medium transition-all duration-300 ease-in-out rounded shadow-sm hover:shadow"
        type="submit"
      >
        Search
      </button>
    </form>
  </div>
</div>
