<div class="p-10 bg-gradient-to-r from-[#205372] to-[#3790ad] text-white">
  <div class="mx-auto max-w-5xl w-full">
    <h2 class="text-3xl font-semibold">Privacy Policy</h2>
    <p>How we protect your personal information
    </p>
  </div>
</div>

<div class="p-10">
  <div class="mx-auto max-w-5xl w-full">
    <p class="mb-5"><strong>Effective Date:</strong> January 1st, 2025</p>

    <p class="mb-5">This Privacy Policy explains how SMS ("we," "our," or "us") collects, uses, and shares information about you when
      you use our application.</p>

   <h2 class="font-semibold">1. Information We Collect</h2>
    <p>We may collect the following types of information:</p>
    <ul class="mb-5">
      <li><strong>Personal Information:</strong> When you use GitHub OAuth for authentication, we may collect
        information
        such as your GitHub username and email address.</li>
      <li><strong>Usage Data:</strong> We may collect information about how you use the app, including your interactions
        and
        preferences.</li>
    </ul>

   <h2 class="font-semibold">2. How We Use Your Information</h2>
    <p>We may use your information for the following purposes:</p>
    <ul class="mb-5 pl-3">
      <li>- To provide and maintain our Service.</li>
      <li>- To improve, personalize, and expand our Service.</li>
      <li>- To understand and analyze how you use our Service.</li>
      <li>- To communicate with you, either directly or through one of our partners, including for customer service, to
        provide you with updates and other information relating to the Service.</li>
    </ul>

   <h2 class="font-semibold">3. Sharing Your Information</h2>
    <p class="mb-5">We do not sell, trade, or otherwise transfer your information to outside parties, except to comply with the law,
      protect our rights, or fulfill any legal obligations.</p>

   <h2 class="font-semibold">4. Security of Your Information</h2>
   <p class="mb-5">We take reasonable measures to protect your information from loss, theft, misuse, and unauthorized access,
      disclosure, alteration, and destruction.</p>

   <h2 class="font-semibold">5. Your Rights</h2>
   <p class="mb-5">You have the right to request access to the personal information we hold about you and to ask for corrections or
      deletions of your personal information.</p>

   <h2 class="font-semibold">6. Changes to This Privacy Policy</h2>
   <p class="mb-5">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
      Policy on our website. Your continued use of the Service after any changes to this Privacy Policy will constitute
      your
      acknowledgment of the changes and your consent to abide by and be bound by the modified policy.</p>

   <h2 class="font-semibold">7. Contact Us</h2>
   <p>If you have any questions about this Privacy Policy, please contact us at <a
        href="mailto:mail@jaw.dev">mail@jaw.dev</a>.</p>
  </div>
</div>
