@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

[v-cloak] {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	font-family:
		Segoe UI,
		system-ui,
		-apple-system,
		sans-serif;
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
