<footer class="mx-auto max-w-5xl w-full p-10 dark:text-[#4c4c4c] border border-x-0 border-b-0 border-t-neutral-200 dark:border-t-[#101010] relative">

  <div class="absolute top-0 left-0 w-full border-t-[1px] hidden dark:block border-[#222222]" aria-hidden="true"></div>

  <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center gap-5">
    <section aria-label="Copyright and Attribution">
      <p>
        <span>Copyright © <%= state.copyRightYear %>.</span>
        <span>Made with <span aria-label="love" role="img">❤️</span> by </span>
        <a href="https://github.com/wajeht" class="hover:dark:text-white hover:underline transition-colors duration-300 ease-out"
          target="_blank" rel="noopener noreferrer"
          aria-label="Visit Wajeht's GitHub profile (opens in new tab)">@wajeht
          <span class="sr-only">(opens in new tab)</span>
          <span aria-hidden="true">️↗️</span>
        </a>
      </p>
    </section>

    <nav aria-label="Legal links">
      <ul class="flex gap-5 list-none p-0 m-0">
        <li class="hidden md:inline" aria-hidden="true">|</li>
        <li>
          <a href="/privacy-policy" class="hover:dark:text-white hover:underline transition-colors duration-300 ease-out"
            aria-label="Read our Privacy Policy">Privacy Policy</a>
        </li>
        <li ria-hidden="true">|</li>
        <li>
          <a href="/terms-of-service" class="hover:dark:text-white hover:underline transition-colors duration-300 ease-out"
            aria-label="Read our Terms of Service">Terms of Service</a>
        </li>
      </ul>
    </nav>

  </div>

</footer>
