<footer class="mx-auto max-w-5xl w-full p-10 bg-[#191919] text-[#4c4c4c] border border-x-0 border-b-0 border-t-[#101010] relative">
  <div class="absolute top-0 left-0 w-full border-t-[1px] border-[#222222]" aria-hidden="true"></div>
  <p class="text-center">
    <span>Copyright © <%= state.copyRightYear %>.</span>
    <span>Made with <span aria-label="love" role="img">❤️</span> by </span>
    <a href="https://github.com/wajeht" class="hover:text-white hover:underline transition-colors duration-300 ease-out"
      target="_blank" rel="noopener noreferrer"
      aria-label="Visit Wajeht's GitHub profile (opens in new tab)">@wajeht
      <span class="sr-only">(opens in new tab)</span>
      <span aria-hidden="true">️↗️</span>
    </a>
  </p>
</footer>
