<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if (typeof title !== 'undefined') { %>
		<title>SMS - <%- title %></title>
	<% } else { %>
		<title>SMS</title>
	<% } %>

	<meta name="description" content="Find sms mail address of a phone number">
	<meta name="keywords" content="sms, email, mail, phone">
	<meta name="author" content="wajeht">

	<!-- Preload and Preconnect -->
	<link rel="preload" href="/style.css?v=0.3" as="style">
	<link rel="preconnect" href="https://plausible.jaw.dev">

  	<!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- SEO -->
	<link rel="canonical" href="https://bang.jaw.dev/">

	<!-- Styles and Scripts -->
  <link rel="stylesheet" href="/style.css?v=0.3">
	<script defer data-domain="sms.jaw.dev" src="https://plausible.jaw.dev/js/script.js?v=0.0"></script>
	<script defer data-state='<%- JSON.stringify(state) %>' src="/script.js?v=0.0"></script>
</head>
