<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if (typeof title !== 'undefined') { %>
		<title>SMS - <%- title %></title>
	<% } else { %>
		<title>SMS</title>
	<% } %>

	<meta name="description" content="Find carrier email addresses for phone numbers">
	<meta name="keywords" content="sms, email, mail, phone">
	<meta name="author" content="wajeht">

	<!-- Preload and Preconnect -->
	<link rel="preload" href="/style.css?v=<%- state.version.style %>" as="style">
	<link rel="preconnect" href="https://plausible.jaw.dev?v=<%- state.version.plausible %>">

  	<!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- SEO -->
	<link rel="canonical" href="https://sms.jaw.dev/">

	<script>
		if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  		document.documentElement.classList.add('dark');
		} else {
  		document.documentElement.classList.remove('dark');
		}
	</script>

	<!-- Styles and Scripts -->
  <link rel="stylesheet" href="/style.css?v=<%- state.version.style %>">
	<script defer data-domain="sms.jaw.dev" src="https://plausible.jaw.dev/js/script.js?v=<%- state.version.plausible %>"></script>
	<script defer data-state='<%- JSON.stringify(state) %>' src="/script.js?v=<%- state.version.script %>"></script>
</head>
